<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Muhamad Nauval Azhar">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Iniciar sesión como Administrador</title>
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="https://friconix.com/png/fi-xnsuxx-user-shield-solid.png" alt="logo" width="175">
					</div>
					<div class="card shadow-lg bg-blue">
						<div class="card-body p-5" style="background-color: darkslateblue;">
							<h1 class="fs-4 card-title fw-bold mb-4 text-white">Inicia sesión como Administrador</h1>
							<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="logForm()" #f="ngForm" novalidate class="needs-validation">
								<div class="mb-3">
									<label class="mb-2 text-light" for="username">Usuario</label>
									<input [(ngModel)]="form.username" #username="ngModel" id="username" type="text" class="form-control" name="username" required>
									<div class="invalid-feedback">
										El usuario no es válido
									</div>
								</div>

								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-light" for="password">Contraseña</label>
									</div>
									<input [(ngModel)]="form.password" #password="ngModel" id="password" type="password" class="form-control" name="password" required>
								    <div class="invalid-feedback">
								    	La contraseña es obligatoria
							    	</div>
								</div>

								<div class="d-flex align-items-center">
									<button type="submit" class="btn btn-warning ms-auto">
										Iniciar sesión
									</button>
								</div>
							</form>

							<div>
								<button class="btn btn-warning ms-auto" *ngIf="isLoggedIn" (click)="reloadPage()">
									Acceder
								</button>
							</div>

						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Si no eres administrador, este no es tu sitio. <br>
								<a href="/index" class="text-dark">Ir a inicio</a>
							</div>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Made with ❤️ by Sergio López
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>