<app-navbar-gestion></app-navbar-gestion>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">

        <h1>Actualmente el AMPA cuenta con: &nbsp;&nbsp;<b><span class="{{ calcularBalance() < 0 ? 'text-danger' : (calcularBalance() == 0 ? 'text-primary' : 'text-success') }}">{{ calcularBalance() }} €</span></b></h1>

        <h2>Ingresos</h2>
        <div class="table-container">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Asunto</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingreso of getListaCuentasIngreso()" id="{{ ingreso.id }}">
                    <th scope="row">{{ ingreso.id }}</th>
                    <td>{{ ingreso.created_at }}</td>
                    <td>{{ ingreso.cantidad }} €</td>
                    <td>{{ ingreso.asunto }}</td>
                    <td style="display: flex; justify-content: center; gap: 10px;">
                        <button class="btn btn-primary btn-icon" [routerLink]="['/gestion/balances/show/'+ingreso.id]">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="btn btn-danger btn-icon" (click)="confirmarEliminacion(ingreso.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form name="formIngreso" (ngSubmit)="fi.form.valid && nuevoIngreso()" #fi="ngForm" novalidate>
            <div class="form-container d-flex justify-content-end">
                <div class="form-group row align-items-center">
                    <div class="mb-3 col-sm-3">
                        <input [(ngModel)]="formIngreso.cantidad" #cantidad="ngModel" name="cantidad" id="cantidad" type="number" min="0" class="form-control" placeholder="Cantidad" required>
                        <div class="invalid-feedback error" *ngIf="cantidad.errors && fi.submitted">
                            <div *ngIf="cantidad.errors['required']">
                                Debe introducir una cantidad
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-sm-6">
                        <input [(ngModel)]="formIngreso.asunto" #asunto="ngModel" name="asunto" id="asunto" type="text" class="form-control" placeholder="Asunto" required maxlength="32">
                        <div class="invalid-feedback error" *ngIf="asunto.errors && fi.submitted">
                            <div *ngIf="asunto.errors['required']">
                                Debe introducir un asunto
                            </div>
                            <div *ngIf="asunto.errors['maxlength']">
                                La longitud máxima son 32 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-sm-3 text-end">
                        <button type="submit" class="btn btn-success">Nuevo ingreso</button> 
                    </div>
                </div>
            </div>
        </form>

        <h2>Gastos</h2>
        <div class="table-container">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Asunto</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gasto of getListaCuentasGasto()" id="{{ gasto.id }}">
                <th scope="row">{{ gasto.id }}</th>
                <td>{{ gasto.created_at }}</td>
                <td>{{ gasto.cantidad }} €</td>
                <td>{{ gasto.asunto }}</td>
                <td style="display: flex; justify-content: center; gap: 10px;">
                    <button class="btn btn-primary btn-icon" [routerLink]="['/gestion/balances/show/'+gasto.id]">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-danger btn-icon" (click)="confirmarEliminacion(gasto.id)">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <form name="formGasto" (ngSubmit)="fg.form.valid && nuevoGasto()" #fg="ngForm" novalidate>
            <div class="form-container d-flex justify-content-end">
                <div class="form-group row align-items-center">
                    <div class="mb-3 col-sm-3">
                        <input [(ngModel)]="formGasto.cantidad" #cantidad="ngModel" name="cantidad" id="cantidad" type="number" min="0" class="form-control" placeholder="Cantidad" required>
                        <div class="invalid-feedback error" *ngIf="cantidad.errors && fg.submitted">
                            <div *ngIf="cantidad.errors['required']">
                                Debe introducir una cantidad
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-sm-6">
                        <input [(ngModel)]="formGasto.asunto" #asunto="ngModel" name="asunto" id="asunto" type="text" class="form-control" placeholder="Asunto" required maxlength="32">
                        <div class="invalid-feedback error" *ngIf="asunto.errors && fg.submitted">
                            <div *ngIf="asunto.errors['required']">
                                Debe introducir un asunto
                            </div>
                            <div *ngIf="asunto.errors['maxlength']">
                                La longitud máxima son 32 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-sm-3 text-end">
                        <button type="submit" class="btn btn-danger">Nuevo gasto</button> 
                    </div>
                </div>
            </div>
        </form>
        
    </div>