.main-container {
    padding: 30px 5vw;
}

.main-container input {
    border-radius: 10px;
    padding: 2px 20px;
}

.title-container {
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 25px 5vw;
    height: 18vh;
    background-image: url("../../../../assets/images/cuaderno-taza.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 67%;
}

.personal-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 35vw;
}

.card {
    margin: 3vh 50px;
}
  
.table-container {
    display: flex;
    margin: 2vh 50px;
    overflow: auto; /* Agrega scroll horizontal */
    white-space: nowrap; /* Evita que el contenido se ajuste */
    max-height: 200px; 
    overflow: auto;
}

.h-outside-card {
  margin: 2vh 50px;
}

th, td {
    vertical-align: middle;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
    .personal-container {
        margin: 5vh 5vw;
    }
    .card {
        margin: 0 0;
    }
    .table-container {
        margin: 3vh 2vh;
    }
    .h-outside-card {
        margin: 3vh 2vh;
    }
}