<!-- The sidebar -->
<div class="sidebar bg-light d-flex justify-content-between flex-wrap flex-column">
    <a routerLink="/miperfil/datos" routerLinkActive="active"><h5>Datos personales</h5></a>
    <a routerLink="/miperfil/hijos" routerLinkActive="active"><h5>Niños asociados</h5></a>
    <a routerLink="/miperfil/citas" routerLinkActive="active"><h5>Citas</h5></a>
    <a routerLink="/miperfil/pagos" routerLinkActive="active"><h5>Pagos</h5></a>
    <a routerLink="/miperfil/balance-ampa" routerLinkActive="active"><h5>Balance AMPA</h5></a>
    <a routerLink="/miperfil/colaboradores" routerLinkActive="active"><h5>Colaboradores</h5></a>
</div>
