<app-dashboard></app-dashboard>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">

            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && guardarModificaciones()" #f="ngForm" novalidate>
                        <h1 class="fs-4 card-title fw-bold mb-4">ALUMNOS ASOCIADOS</h1>
                        <div class="row">
                            <div class="col" *ngFor="let hijo of hijosSocio; let i = index">
                                <div class="form-group pt-3">
                                    <label class="mb-2 text-muted" for="nombre{{hijo.id}}">Nombre</label>
                                    <input [(ngModel)]="hijosSocio[i].nombre" #nombre="ngModel" [id]="'nombre' + hijo.id" [name]="'nombre' + hijo.id" [ngClass]="{ 'is-invalid': f.submitted && nombre.errors }" type="text" class="form-control" required autofocus>
                                    <div class="invalid-feedback error">
                                        <div>
                                            Debe introducir un nombre
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group pt-3">
                                    <label class="mb-2 text-muted" for="apellidos{{hijo.id}}">Apellidos</label>
                                    <input [(ngModel)]="hijosSocio[i].apellidos" #apellidos="ngModel" [id]="'apellidos' + hijo.id" [name]="'apellidos' + hijo.id" [ngClass]="{ 'is-invalid': f.submitted && apellidos.errors }" type="text" class="form-control" required autofocus>
                                    <div class="invalid-feedback error">
                                        <div>
                                            Debe introducir unos apellidos
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group pt-3">
                                    <label class="mb-2 text-muted" for="fecha_nacimiento{{hijo.id}}">Fecha de nacimiento</label>
                                    <input [(ngModel)]="hijosSocio[i].fecha_nacimiento" #fecha_nacimiento="ngModel" [id]="'fecha_nacimiento' + hijo.id" [name]="'fecha_nacimiento' + hijo.id" [ngClass]="{ 'is-invalid': f.submitted && fecha_nacimiento.errors }" type="date" class="form-control" required autofocus>
                                    <div class="invalid-feedback error">
                                        <div>
                                            Debe introducir una fecha de nacimiento
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group pt-3">
                                    <label class="mb-2 text-muted" for="clase{{hijo.id}}">Clase</label>
                                    <select [(ngModel)]="hijosSocio[i].clase" #clase="ngModel" [id]="'clase' + hijo.id" [name]="'clase' + hijo.id" [ngClass]="{ 'is-invalid': f.submitted && clase.errors }" class="form-select" required autofocus>
                                        <option *ngFor="let clase of listaClases" [value]="clase.id">{{ clase.curso }}º {{ clase.tipo_clase }} {{ clase.letra }}</option>
                                    </select>
                                    <div class="invalid-feedback error">
                                        <div>
                                            Debe introducir una clase
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="form-group pt-3">
                                    <button type="button" class="btn btn-danger" (click)="confirmarEliminacion(hijo.id)">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <br>
                    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && crearHijo()" #f="ngForm" novalidate>
                        <div class="form-group row">
                            <h5 class="fs-5 mb-2">CREAR NUEVO</h5>
                            <div class="form-group row">
                                <div class="mb-3 col-sm-6">
                                    <label class="mb-2 text-muted" for="nombre">Nombre</label>
                                    <input [(ngModel)]="hijoNuevo.nombre" #nombreInput="ngModel" id="nombre" type="text" class="form-control" name="nombre" [ngClass]="{ 'is-invalid': f.submitted && nombreInput.invalid }" required>
                                    <div *ngIf="f.submitted && nombreInput.invalid" class="invalid-feedback error">
                                        <div>Debe introducir un nombre</div>
                                    </div>
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="mb-2 text-muted" for="apellidos">Apellidos</label>
                                    <input [(ngModel)]="hijoNuevo.apellidos" #apellidosInput="ngModel" id="apellidos" type="text" class="form-control" name="apellidos" [ngClass]="{ 'is-invalid': f.submitted && apellidosInput.invalid }" required>
                                    <div *ngIf="f.submitted && apellidosInput.invalid" class="invalid-feedback error">
                                        <div>Debe introducir unos apellidos</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="mb-3 col-sm-6">
                                    <label class="mb-2 text-muted" for="fecha_nacimiento">Fecha de nacimiento</label>
                                    <input [(ngModel)]="hijoNuevo.fecha_nacimiento" #fechaNacimientoInput="ngModel" id="fecha_nacimiento" type="date" class="form-control" name="fecha_nacimiento" [ngClass]="{ 'is-invalid': f.submitted && fechaNacimientoInput.invalid }" required>
                                    <div *ngIf="f.submitted && fechaNacimientoInput.invalid" class="invalid-feedback error">
                                        <div>Debe introducir una fecha de nacimiento</div>
                                    </div>
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="mb-2 text-muted" for="clase">Clase</label>
                                    <select [(ngModel)]="hijoNuevo.clase" #claseInput="ngModel" class="form-select" name="clase" [ngClass]="{ 'is-invalid': f.submitted && claseInput.invalid }" required>
                                        <option *ngFor="let clase of listaClases" [value]="clase.id">{{ clase.curso }}º {{ clase.tipo_clase }} {{ clase.letra }}</option>
                                    </select>
                                    <div *ngIf="f.submitted && claseInput.invalid" class="invalid-feedback error">
                                        <div>Debe introducir una clase</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="align-items-center">
                            <button type="submit" class="btn btn-outline-success ms-auto">
                                Crear nuevo
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card-footer py-3 border-0">
                    <button type="button" class="btn btn-primary" (click)="guardarModificaciones()">
                        Guardar modificaciones
                    </button>
                </div>

            </div>
    </div>
