<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Muhamad Nauval Azhar">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Menú</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="">Menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Información
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/colegio">Colegio</a></li>
                        <li><a class="dropdown-item" routerLink="/comedor">Comedor</a></li>
                        <li><a class="dropdown-item" routerLink="/contacto">Contacto</a></li>
                    </ul>
                </li>
                <li *ngIf="!isLoggedIn || isAdmin" class="nav-item">
                    <a class="nav-link active" routerLink="/noticias">Noticias</a>
                </li>
                <li *ngIf="!isLoggedIn || isAdmin" class="nav-item">
                    <a class="nav-link active" routerLink="/tienda">Tienda</a>
                </li>
                <li *ngIf="!isLoggedIn || isAdmin" class="nav-item">
                    <a class="nav-link active" routerLink="/eventos">Eventos</a>
                </li>
                <li *ngIf="!isLoggedIn || isAdmin" class="nav-item">
                    <a class="nav-link active" routerLink="/login">Iniciar sesión</a>
                </li>
                <li *ngIf="!isLoggedIn || isAdmin" class="nav-item">
                    <button class="btn btn-primary" routerLink="/register">Hazte socio</button>
                </li>
                <li *ngIf="isLoggedIn && !isAdmin" class="nav-item">
                    <button class="btn btn-warning" (click)="logout()">Cerrar sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
    