.navbar-container {
    padding: 2vh 7vw;
}

.nav-item {
    font-size: 20px;
    margin: 0 0.5vw;
}

.big-button {
    font-size: 18px;
    width: 175px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(72, 0, 206);
    color: white;
}
  