* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for main section */
.active-cont {
  margin-left: 300px;
}

#menu-btn {
  background-color: rgb(21, 30, 83);
  color: #fff;
}

.my-container {
  transition: 0.4s;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.buscador {
  display: flex;
  justify-content: flex-end;
  margin: 1vh 50px;
}

.enviar-correo {
  display: flex;
  align-items: center;
  margin: 1vh 50px;
}

.exportar {
  display: flex;
  align-items: center;
  margin: 1vh 50px;
}

.table-container {
  display: flex;
  justify-content: flex-end;
  margin: 2vh 50px;
  overflow-x: auto;
}

.table {
  table-layout: fixed;
}

.table td {
  min-width: 200px; /* Ajusta el valor de acuerdo a tus necesidades */
  overflow: hidden;
  text-align: justify;
  word-wrap: break-word;
}

.table th {
  overflow: hidden;
  white-space: normal;
}

// CSS PARA HACER EL BOTÓN DE ENVIAR CORREO >>>>>>>>>>>>>>>>
.btn-rosa {
  color: #fff;
  background-color: #E056C1;
  border-color: #E056C1;
}

.btn-rosa:hover {
  color: #fff;
  background-color: #D84BA2;
  border-color: #D84BA2;
}

.btn-rosa:focus,
.btn-rosa.focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 86, 193, 0.5);
}

.btn-rosa.disabled,
.btn-rosa:disabled {
  color: #fff;
  background-color: #E056C1;
  border-color: #E056C1;
}
// <<<<<<<<<<<<<<<<< CSS PARA HACER EL BOTÓN DE ENVIAR CORREO
