<app-navbar></app-navbar>

<div class="title-container">
    <h1><b>Eventos organizados por el AMPA</b></h1>
</div>

<div class="main-container">

    <div *ngFor="let evento of eventosFormateados" id="{{ evento.id }}" class="card" [routerLink]="['/eventos/'+evento.id]">
        <div class="card-body">
            <h5 class="card-title">{{ evento.titulo }}</h5>
            <p class="card-text card-text-limitado">
                {{ evento.descripcion }}
            </p>
        </div>

        <div class="card-footer text-body-secondary d-flex py-3 justify-content-between flex-wrap">
            <div>
                <p>{{ evento.created_at }}</p>
            </div>
            <div class="align-items-center d-flex">
                <button *ngIf="!isSocioInEvento(evento) && isLoggedIn && !isAdmin" type="submit" class="btn big-button ms-auto" (click)="inscribirSocio(evento.id)">
                    <b>Apuntarse</b>
                </button>
                <button *ngIf="!isLoggedIn || isAdmin" type="submit" class="btn big-button ms-auto" routerLink="/login">
                    <b>Inicia sesión para apuntarte</b>
                </button>
                <button *ngIf="isSocioInEvento(evento)" type="button" class="btn big-button-apuntado bg-success ms-auto">
                    <b>Estás apuntado</b>
                </button>
            </div>
        </div>
    </div>
    
    <div *ngIf="eventosFormateados.length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;">No existen eventos aún.</div>
    </div>

</div>

<app-footer></app-footer>
