<app-dashboard></app-dashboard>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">

        <div *ngIf="pedido" class="card shadow-lg">
            <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">DETALLES EL PEDIDO #{{ pedido.id }}</h1>

                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Id: </h3>
                        <h3 class="d-inline">{{ pedido.id }}</h3>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Nombre: </h3>
                        <h3 class="d-inline">{{ pedido.nombre }}</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Email: </h3>
                        <h3 class="d-inline">{{ pedido.email }}</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Teléfono: </h3>
                        <h3 class="d-inline">{{ pedido.telefono }}</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Estado: </h3>
                        <h3 class="d-inline" [ngClass]="{
                            'text-success': pedido.estado === 'ENTREGADO',
                            'text-primary': pedido.estado === 'PREPARACION',
                            'text-warning': pedido.estado === 'DEVUELTO',
                            'text-danger': pedido.estado === 'CANCELADO',
                            'text-dark': pedido.estado === 'NO_PAGADO'}"><b>{{ pedido.estado }}</b></h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Observaciones: </h3>
                        <h3 class="d-inline">{{ pedido.observaciones }}</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Pago: </h3>
                        <a class="text-dark" [routerLink]="['/dashboard/pagos/show/'+pedido.pago]">
                            <h3 class="d-inline" *ngIf="pedido.pago">{{ pedido.pago }}</h3>
                        </a>
                        <h3 class="d-inline" *ngIf="!pedido.pago">Sin pago creado</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Socio: </h3>
                        <a class="text-dark" [routerLink]="['/dashboard/socios/form/'+pedido.socio]">
                            <h3 class="d-inline" *ngIf="pedido.socio">{{ pedido.socio }}</h3>
                        </a>
                        <h3 class="d-inline" *ngIf="!pedido.socio">Sin socio asignado</h3>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="mb-4 col-sm-12">
                        <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Fecha creación del pedido: </h3>
                        <h3 class="d-inline">{{ formatDate(pedido.created_at) }}</h3>
                    </div>
                </div>

            </div>

            <div class="card-footer py-3 border-0">
                <div class="d-flex justify-content-between">
                    <div>
                        <button *ngIf="pedido.estado != 'CANCELADO'" type="button" class="btn btn-danger" (click)="cancelarPedido(pedido)">
                            Cancelar
                        </button>
                        <button *ngIf="pedido.estado != 'DEVUELTO'" type="submit" class="btn btn-warning" style="margin-left: 0.5vw;" (click)="devolverPedido(pedido)">
                            Devolver
                        </button>
                    </div>
                    <div>
                        <button *ngIf="pedido.estado != 'PREPARACION'" type="button" class="btn btn-primary" (click)="prepararPedido(pedido)">
                            Preparar
                        </button>
                        <button *ngIf="pedido.estado != 'ENTREGADO'" type="button" class="btn btn-success" style="margin-left: 0.5vw;" (click)="entregarPedido(pedido)">
                            Entregar
                        </button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="card-container">
            <div *ngFor="let lp of lineasPedido" class="card shadow-lg">
                <div class="card-body p-4">

                    <div class="form-group row">
                        <div class="mb-4 col-sm-12">
                            <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Nombre: </h3>
                            <h3 class="d-inline">{{ lp.producto }}</h3>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="mb-4 col-sm-12">
                            <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Opción: </h3>
                            <h3 class="d-inline">{{ lp.stock }}</h3>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="mb-4 col-sm-12">
                            <h3 class="mb-2 text-muted d-inline" style="margin-right: 15px;">Cantidad: </h3>
                            <h3 class="d-inline">{{ lp.cantidad }} uds.</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
    </div>
