<app-navbar></app-navbar>

<div class="title-container">
    <h1><b>NOTICIAS</b></h1>
</div>

<div class="main-container">

    <div *ngIf="noticiasFormateadas.length > 0" class="card-container">
        <div *ngFor="let noticia of noticiasFormateadas" class="card" [routerLink]="['/noticias/'+noticia.id]">
            <img src="{{ noticia.imagen }}" class="card-img-top" alt="Imagen no disponible">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ noticia.titulo }}</h5>
                <p class="card-text card-text-limitado">
                    {{ noticia.cuerpo }}
                </p>
                <div class="mt-auto">
                    <p class="card-text" style="text-align: right;"><small class="text-body-secondary">{{ noticia.created_at }}h</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="noticiasFormateadas.length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;">No existen noticias aún.</div>
    </div>

</div>

<app-footer></app-footer>
