<app-navbar></app-navbar>

<div class="title-container">
    <h1><b>Mi Perfil</b></h1>
</div>

<app-sidebar-socios></app-sidebar-socios>

<div *ngIf="esSocio" class="personal-container">
    <h1>Colaboradores</h1>

    <div *ngIf="listaColaboradores.length > 0" class="card-container">
        <div *ngFor="let colaborador of listaColaboradores" class="card">
            <img src="{{ colaborador.imagen }}" class="card-img-top" alt="Imagen no disponible">
            <div class="card-body">
                <h5 class="card-title">{{ colaborador.nombre }}</h5>
                <p class="card-text" style="color: green;">
                    <b>{{ colaborador.ventaja }}</b>
                </p>
                <p class="card-text">
                    {{ colaborador.descripcion }}
                </p>
            </div>
        </div>
    </div>
    
    <div *ngIf="listaColaboradores.length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;">No hay colaboradores aún.</div>
    </div>

</div>