.main-container {
    padding: 30px 5vw;
}

.main-container input {
    border-radius: 10px;
    padding: 2px 20px;
}

.title-container {
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 25px 5vw;
    height: 18vh;
    background-image: url("../../../../assets/images/cuaderno-taza.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 67%;
}

.personal-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    margin-left: 35vw;
}

.card {
  display: flex;
  flex: 0 0 20rem;
  margin: 2vh 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-text-limitado {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card:hover{
  border-color: gray;
}

.card-footer {
  text-align: right;
}

.card-text-extendido {
  max-height: none;
  overflow: visible;
  transition: max-height 0.3s ease-in-out;
}

h1,
h2 {
  margin: 2vh 50px;
}

.imagen-vacia {
  color:#888;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.2);
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
    .personal-container {
        margin: 5vh 5vw;
    }
}