<app-dashboard></app-dashboard>

  <!-- Main Wrapper -->
  <div class="p-1 my-container active-cont">

    <nav class="navbar navbar-blank bg-blank">
      <form class="form-inline buscador">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar pedido" style="margin-right: 20px;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>

    <div class="table-container">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 50px;">Id</th>
            <th scope="col">Socio</th>
            <th scope="col">Pago</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidosFormateados" 
          id="{{ pedido.id }}" 
          class="socio">
            <th scope="row">{{ pedido.id }}</th>
            <td>{{ nombresSocios[pedido.socio] }}</td>
            <td>#{{ pedido.pago }}</td>
            <td>{{ pedido.created_at }}</td>
            <td [ngClass]="{
              'text-success': pedido.estado === 'ENVIADO',
              'text-primary': pedido.estado === 'PREPARACION',
              'text-danger': pedido.estado === 'CANCELADO'}"><b>{{ pedido.estado }}</b></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>