.main-container {
    padding: 25px 5vw;
}

.title-container {
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 25px 5vw;
    height: 18vh;
    background-image: url("../../../../assets/images/huerto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 72%;
}