<app-navbar-gestion></app-navbar-gestion>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">

        <div *ngFor="let sugerencia of sugerenciasFormateadas" id="{{ sugerencia.id }}" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ sugerencia.titulo }}</h5>
                <p class="card-text card-text-limitado" [ngClass]="{'card-text-extendido': mapMostrarDescripcionCompleta.get(sugerencia.id) || sugerencia.descripcion.length <= 350}">
                    {{ sugerencia.descripcion }}
                </p>
                <div style="text-align: right;">
                    <button *ngIf="sugerencia.descripcion.length > 350" class="btn btn-link p-0 m-0 ml-auto" (click)="mapMostrarDescripcionCompleta.set(sugerencia.id, !mapMostrarDescripcionCompleta.get(sugerencia.id))">
                        {{ mapMostrarDescripcionCompleta.get(sugerencia.id) ? 'Ver menos' : 'Ver más' }}
                    </button>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                {{ sugerencia.created_at }}
            </div>
        </div>
    </div>