<app-navbar-gestion></app-navbar-gestion>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">

        <nav class="navbar navbar-blank bg-blank">
          <form (ngSubmit)="buscar()" class="form-inline buscador">
            <input class="form-control mr-sm-2" name="valorBusqueda" type="search" placeholder="Buscar sugerencia" style="margin-right: 20px;" [(ngModel)]="valorBusqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </nav>

        <div *ngFor="let sugerencia of sugerenciasFiltradas" id="{{ sugerencia.id }}" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ sugerencia.titulo }}</h5>
                <p class="card-text card-text-limitado" [ngClass]="{'card-text-extendido': mapMostrarDescripcionCompleta.get(sugerencia.id) || sugerencia.descripcion.length <= 350}">
                    {{ sugerencia.descripcion }}
                </p>
                <div style="text-align: right;">
                    <button *ngIf="sugerencia.descripcion.length > 350" class="btn btn-link p-0 m-0 ml-auto" (click)="mapMostrarDescripcionCompleta.set(sugerencia.id, !mapMostrarDescripcionCompleta.get(sugerencia.id))">
                        {{ mapMostrarDescripcionCompleta.get(sugerencia.id) ? 'Ver menos' : 'Ver más' }}
                    </button>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                {{ sugerencia.created_at }}
            </div>
        </div>
    
        <div *ngIf="sugerenciasFiltradas.length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
          <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
          <div style="opacity: .2;">El buzón está vacío.</div>
        </div>
    </div>