<app-navbar></app-navbar>

<div class="title-container">
    <h1><b>Mi Perfil</b></h1>
</div>

<app-sidebar-socios></app-sidebar-socios>

<div *ngIf="esSocio" class="personal-container">
    <h1 class="text-primary">Actualmente el AMPA cuenta con: &nbsp;&nbsp;<b><span class="{{ calcularBalance() < 0 ? 'text-danger' : (calcularBalance() == 0 ? 'text-primary' : 'text-success') }}" style="white-space: nowrap;">{{ calcularBalance() }} €</span></b></h1>

    <h2>Ingresos del último mes:</h2>
    <div *ngIf="getListaCuentasIngreso().length > 0" class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Asunto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingreso of getListaCuentasIngreso()" id="{{ ingreso.id }}">
                <td>{{ ingreso.created_at }}</td>
                <td>{{ ingreso.cantidad }} €</td>
                <td>{{ ingreso.asunto }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="getListaCuentasIngreso().length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;">No existen ingresos en el último mes.</div>
    </div>

    <h2>Gastos del último mes:</h2>
    <div *ngIf="getListaCuentasGasto().length > 0" class="table-container">
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Asunto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gasto of getListaCuentasGasto()" id="{{ gasto.id }}">
            <td>{{ gasto.created_at }}</td>
            <td>{{ gasto.cantidad }} €</td>
            <td>{{ gasto.asunto }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    
    <div *ngIf="getListaCuentasGasto().length == 0" style="font-weight: bold; font-size: x-large; text-align: center; margin: 20px 0;">
      <img src="https://static.thenounproject.com/png/2902077-200.png" class="imagen-vacia" alt="">
      <div style="opacity: .2;">No existen gastos en el último mes.</div>
    </div>
</div>