<app-navbar></app-navbar>

<div *ngIf="listaNoticias.length > 0" id="carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button *ngFor="let noticia of listaNoticias; let i = index" type="button" data-bs-target="#carousel" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let noticia of listaNoticias; let i = index" class="carousel-item vignette-overlay" [class.active]="i === 0" [attr.data-bs-interval]="10000">
      <div class="blurry-overlay" [style.background-image]="'url(' + noticia.imagen + ')'" [style.background-position]="'center'" [style.background-size]="'cover'">
        <img [src]="noticia.imagen" class="d-block mx-auto" alt="imagen de la noticia">
      </div>
      <div class="carousel-caption shadowed-text">
        <a [routerLink]="['/noticias/'+noticia.id]" class="text-white"><h5 class="truncate">{{ noticia.titulo }}</h5></a>
        <p class="truncate">{{ noticia.cuerpo }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="main-container">

  <markdown [data]="markdown"></markdown>

</div>

<app-footer></app-footer>
